<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Suite_FHFSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Suite_FHFSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0"/>
  </startup>
    <connectionStrings>
        <add name="Suite_FHFSoft.Properties.Settings.Setting" connectionString="Data Source=.;Initial Catalog=SuiteFHFSoft;Persist Security Info=True;User ID=sa;Password=as"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Suite_FHFSoft.Properties.Settings>
            <setting name="PASS1" serializeAs="String">
                <value>FHF0103</value>
            </setting>
        </Suite_FHFSoft.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Suite_FHFSoft.Properties.Settings>
            <setting name="USER1" serializeAs="String">
                <value>FHF</value>
            </setting>
            <setting name="Licencia" serializeAs="String">
                <value>10</value>
            </setting>
        </Suite_FHFSoft.Properties.Settings>
    </applicationSettings>
</configuration>